.sidebar-right {
    width: 15%;
    position: fixed;
    right: 0; /* Position the sidebar on the right side of the page */
    height: 100%;
    border: 1px solid #000; /* Add a border */
    background-color: rgb(68, 68, 68);
    /* Add more styles as needed */
  }

  .sidebar-title {
    padding: 10px;
    text-align: center;
    background-color: #a80808; /* Add a light red background */
    color: white; /* Make the text white */
    /* Add more styles as needed */
    }

    .list-group-item {
        color: rgb(255, 255, 255); /* Change the text color to blue */
        background-color: rgb(41, 40, 40); /* Change the background color to light gray */
        border-color: rgb(87, 87, 87);
        /* Add more styles as needed */
    }

    .datatype {
        font-weight: bold; /* Change the font to Courier New */
        /* Add more styles as needed */
    }

    .workoutName {
        font-weight: bold;
    }

    .add-button {
        background-color: rgb(41, 40, 40);
        color: white;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 2px;
        margin-left: 4px;
        /* Add more styles as needed */
    }

    .add-button:hover {
        background-color: #757575;
    }
.search-bar {
    margin-left: 5px;
    border-style: solid;
    margin-bottom: 10px;
    background-color: rgb(41, 40, 40);
    color: white;
}
    