.main-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
    color: white;
  }

  .container {
    display: flex;
    flex-grow: 1;
    overflow: auto;
    background-color: rgb(36, 36, 36);
    height: 100vh;
  }


  h2 {
    font-weight: bold;
    text-align: center;
    width: 50%; /* Adjust this to change the width */
    color: black;
    background: linear-gradient(to right, rgb(151, 144, 144), rgb(214, 214, 214));
    padding: 10px;
    border-color: rgb(53, 53, 53);
    margin-left: auto;
    margin-right: auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    background-color: rgb(0, 0, 0);
    border-color: rgb(179, 179, 179);
    border-style:groove;
    text-align: center;
    font-weight: bold;
}

ul {
    padding-left: 0;
    margin-left: 0;
}


li {
    list-style-type: none; /* Remove the bullet point */
    padding-left: 0; /* Take up the space where the bullet point was */
    background-color: black;
    color: white; /* Set the text color to white so it's visible on the black background */
    padding: 10px;
    text-align: center;
    border-color: rgb(151, 144, 144);
    border-style: groove;
}

.ilInner {
    list-style-type: none; /* Remove the bullet point */
    padding-left: 0; /* Take up the space where the bullet point was */
    background-color: rgb(29, 29, 29);
    color: white; /* Set the text color to white so it's visible on the black background */
    padding: 10px;
    text-align: center;
    border-color: rgb(151, 144, 144);
    border-style: groove;
}

h4 {
    background-color: rgb(136, 29, 29);
    border-color: rgb(179, 179, 179);
    border-style:groove;
    text-align: center;
    font-weight: bold;
    padding: 5px
}

.set-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.set-details input[type="number"] {
    width: 50px; /* Adjust this value to your liking */
    background-color: rgb(29, 29, 29);
    color: white;
    font-weight: 700;
}

.set-details input[type="number"]:focus {
outline: none;
border: none;
}
.header {
    background-color: rgb(0, 0, 0);
    border-color: rgb(179, 179, 179);
    border-style:none;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    padding: 1px;
}

.spacer {
    padding: 10px;
    width: 100px;
}

button {
    padding: 10px;
    font-size: 16px;
    width: 100px;
    font-weight: bold;

}

button:hover {
    background-color: #5474dd; /* Red */
}

.play-button {
    padding: 10px;
    font-size: 16px;
    width: 100px;
    font-weight: bold;
    
}

 
