.sidebar {
    width: 15%;
    position: fixed;
    height: 100%;
    border: 1px solid #000; /* Add a border */
    background-color: rgb(68, 68, 68);
    /* Add more styles as needed */
  }

.sidebar-title {
padding: 10px;
text-align: center;
background-color: #e94f4f; /* Add a light red background */
color: white; /* Make the text white */
/* Add more styles as needed */
}

.list-group-item {
    color: rgb(255, 255, 255); /* Change the text color to blue */
    background-color: rgb(68, 68, 68); /* Change the background color to light gray */
    border-color: rgb(68, 68, 68);
    /* Add more styles as needed */
}

.datatype {
    font-weight: bold; /* Change the font to Courier New */
    /* Add more styles as needed */
}